:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --white-color: #FFFFFF;
    --btn-color: #2196F3;
    --btn-secondary-color: #F5F4FA;
    --btn-secondary-hover: #2196F3;
    --bg-gray-color: rgba(245, 244, 250, 1);
    --bg-black-color: #2F303A;
}

/* Загалні параметри css */
body {
    background-color: var(--white-color);
    color: var(--main-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

/* значення для всіх - ul*/
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* стандарти для всіх заголовків */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

header a,
footer a {
    text-decoration: none;
}

/*  logo WebStudio */
.logo {
    color: var(--main-color);
    font-family: 'Raleway', sans-serif;
}

.logo:hover,
.logo:focus {
    color: green;
}

.white {
    color: var(--white-color);
}

.first {
    color: var(--btn-color);
}

/* title -  */

.main-page {
    background-color: var(--bg-black-color);
    color: var(--white-color);
}

.main-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
}

.main-page button {
    background-color: var(--btn-color);
    color: var(--white-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.main-page button:hover,
.main-page button:focus {
    color: blue;
    background-color: white;
}

/* our project */

.advantage h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantage p {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: none;
}

/* Приемущества */

.priority h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/*
.priority ul>li>img {
    border-radius: 50;
}
Пробовал разными способами, но что то блокирует заданные параметры */

.pictures-size img {
    /* не пойму как правильно тут сделать !!! почему то не срабатывает */
    width: 370;
}

/* Блок - команда */
.team {
    background-color: var(--bg-gray-color);
}

.test {
    font-size: 36px;
    line-height: 1.16px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team p {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team.photo {
    height: 260px;
    width: 270px;
    border-radius: 0px;
}

/* футер */

footer {
    background-color: var(--bg-black-color);
}

/* portfolio main*/
/* кнопки*/
.btn-portfolio:hover,
.btn-portfolio:focus {
    color: black;
    /* тестовый цвет, почему то не принимает значения*/

}

.header-link:hover,
.header-link:focus {
    color: red;
}

/* Портфолио main */
.portfolio {
    width: 370px;
}

.portfolio h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}