:root {
    --main-color: rgb(33, 33, 33);
    --secondary-color: rgb(117, 117, 117);
    --white-color: rgb(255, 255, 255);
    --btn-color: rgb(33, 150, 243);
    --btn-secondary-color: #F5F4FA;
    --btn-secondary-hover: rgb(33, 150, 243);
    --bg-gray-color: rgba(245, 244, 250, 1);
    --bg-black-color: rgb(47, 48, 58);
}

/* Загалні параметри css */
body {
    background-color: var(--white-color);
    color: var(--main-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

/* стандарти для всіх заголовків */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

/* Обязательный аттрибут для паддингов */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}

/* скрывает тег */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header a,
footer a {
    text-decoration: none;
}


/* navigation & logo WebStudio */
.logo {
    color: var(--main-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
}

.logo:hover,
.logo:focus {
    color: none;
}

.white {
    color: var(--white-color);
}

.first {
    color: var(--btn-color);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tOmato;
    padding: 0 15%;
    /*
    padding-left: 15px;
    padding-right: 15px;*/
}

.headers>.container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
}

.main-nav {
    display: flex;
    align-items: center;
}

/* значення для всіх - ul*/
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0;
    margin: 0;
}

/* -тег выравнивание контента  justify-content: space-between;}*/

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-list .nav-link {
    padding-top: 32;
    padding-bottom: 352;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.header-list .list+.list {
    margin-left: 50px;
}

.nav-link:hover,
.nav-link:focus {
    color: rgb(33, 150, 243);
}

/* наступний блок - контактні данні в Хедері */
.header-link {
    display: flex;
    margin-left: auto;
    /* автоматично відкудує тег в право*/
}

/*.header-list .list:not(:last-child) {
    margin-right: 40px;
}*/

.header-link .list+.list {
    margin-left: 50px;
}

.contact-link {
    margin: auto;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: rgb(117, 117, 117);
}

.contact-link:hover,
.contact-link:focus {
    color: rgb(33, 150, 243);
}


/* title  */
/* .main-section {
    background-color: var(--bg-black-color);
} - хотів накинути background color - через стилі,але чомусь не виходить */
/* Секція пішла */
.section {
    outline: 1px solid green;
}

.section.main {
    padding: 50px;
    text-align: center;
    background-color: #2F303A;
    /*    outline: 1px solid red; - Линия подчеркивает весь контейнер*/
}

.main-title {
    width: 696px;
    margin-left: 50px;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
    padding-top: 200px;
}

.main-btn {
    min-width: 136px;
    color: var(--white-color);
    background-color: var(--btn-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 11px 32px;
    border-radius: 4px;
    text-align: center;
}

/* our project */

.advantage-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.advantage-discription {
    color: var(--secondary-col87 or);
    font-weight: 400;
    line-height: 1.7;
    text-transform: none;
}

.advantage-padding {
    justify-content: space-around;
}

/* Приемущества */

.section-title {
    display: flex;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    padding-bottom: 50px;
    justify-content: center;
}

.img-space {
    padding-right: 30px;
    justify-content: space-around;
}

/*
.priority ul>li>img {
    border-radius: 50;
}
Пробовал разными способами, но что то блокирует заданные параметры */
.priority-cont {
    padding-left: 50px;
}

.pictures-size img {
    /* не пойму как правильно тут сделать !!! почему то не срабатывает */
    width: 370;
}

/* Блок - команда */
.section.team {
    background-color: var(--bg-gray-color);
    padding-bottom: 50;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.19;
}

.team-description {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    text-align: center;
    padding-bottom: 94px;
}

.team-border {
    width: 260px;
    height: 108px;
    border: 1px solid gray;
    background-color: var(--btn-secondary-color);
    margin-bottom: 91px;

}

.team.photo {
    height: 260px;
    width: 270px;
    border-radius: 0px;
    margin-right: 30px;
}

/* футер */

footer {
    background-color: var(--bg-black-color);
}

/* portfolio main*/
/* кнопки*/
.btn-portfolio {
    position: absolute;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn-portfolio.web {
    position: absolute;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
}

.btn-portfolio.app {
    position: absolute;
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
}

.btn-portfolio.design {
    position: absolute;
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;
}

.btn-portfolio.marketing {
    position: absolute;
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
}

.contact-map {
    font-weight: 400;
    line-height: 1.71;
    color: rgb(255, 255, 255);
}

.contact-footer {
    font-weight: 400;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.contact-footer:hover,
.contact-footer:focus {
    color: rgb(33, 150, 243);
}

/* Портфолио main */
.portfolio {
    width: 370px;
}


.nav-link-active {
    color: var(--btn-color);
}

.nav-link-active {
    color: var(--btn-color);
}

/* Активний фільтр */

.btn-portfolio-active {
    color: var(--white-color);
    background-color: var(--btn-color);
    position: absolute;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
    ;
}